# Node dependencies and logs
node_modules
npm-debug.log
yarn-error.log

# Docker and Git configurations
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore

# Environment variables and secrets
.env
.env.*

# Operating system files
.DS_Store
Thumbs.db

# Documentation and archives
README.md
*.zip
Alumni-main/
